#footer{
    font-size: large;
    padding: 2rem 1rem;
    color: #ffffff;
}

#footer #left-column #acenibra{
    display: flex;
    flex-direction: row;
    align-items: center;
}

#footer #left-column #acenibra img{
    width: 125px;
}

#footer, #footer #left-column {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #f11e39;
}

#footer #left-column span{
    margin: .2rem;
}

#footer #left-column #localizacao{
    display: flex;
    flex-direction: column;
    align-items: flex-start;   
}

#footer #left-column div{
    margin: 1rem 0;
}

#footer ul li{
    list-style: none;
}

#footer ul li img{
    width: 50px;
}

#iframe-google-maps{
    width: 100%;
    height: 300px;
    margin: 20px 0;
}
